streamlit
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-classic
langchain-groq
langchain-google-genai
faiss-cpu
yt-dlp[default]
youtube-transcript-api
groq
openai-whisper
rank-bm25
